* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#highlight {
    border-bottom: 2px solid black;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.top-menu {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9em;
    grid-row-gap: 1em;
    padding: 14px 64px;
    margin-bottom: 36px;
}

.top-menu .page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.top-menu .page a {
    color: white;
}

.top-menu .icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-menu .icon a {
    text-decoration: none;
    color: white;
}

.top-menu .icon i {
    padding: 0 16px;
    cursor: pointer;
    font-size: 19px;
}

.lines {
    border-right: 1px solid white;
    height: 36px;
}

.main-content .selector {
    padding: 16px 0px;
    text-align: center;
}

.main-content .selector a {
    font-size: 17px;
    font-weight: 500;
    color: #989898;
    padding: 12px 22px;
}

#products {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 2.5em 0;
}

#products .card {
    max-width: 18em;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

#products .card:hover {
    transform: translateY(-0.1in);
}

#products .card .image-container {
    text-align: center;
}

#products .card .image-container img {
    max-width: 100%;
    object-fit: contain;
    height: 200px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

#products .card .container {
    padding-top: 1em;
    color: #110f29;
    text-align: center;
}

#products .card .container h5 {
    font-weight: 500;
    font-size: 18px;
}

#products .card .container h6 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
}

#products .card .container button {
    background-color: white;
    border: none;
    border: solid 1px black;
    margin-top: 14px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}

#products .card .container button:hover {
    background-color: black;
    color: white;
}


/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo h2 {
    color: black;
    font-size: 38px;
    position: relative;
}

.header {
    /* background-color: rgb(15, 211, 15); */
    opacity: 0.9;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
}

.nav-box i {
    color: black;
    position: relative;
    right: 15px;

}

.nav-box a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
}

.search-box input {
    padding: 8px 0px 8px 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-box i {
    color: black;
    font-size: 18px;
}

/* footer */

/* Footer */
footer {
    opacity: 0.8;
    background-color: black;
    height: 180px;
    width: 100%;
}

.icons {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.icons a {
    text-decoration: none;
    padding: 0px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0.9;
    margin: 15px;
}

.icons a:hover {
    background-color: black;
    transition: 0.5s;
}

.icons a:hover i {
    color: #fff;
    transition: 0.5s;

}

.ft {
    margin: 10px 0;
}


.ft a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.8s;

}

.ft a:hover {
    color: #fff;
    opacity: 3;
}

.footer-box {
    width: 100%;
    background-color: black;
    height: 130px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-top: 20px;
}